<html>
    <head>
        <title>Веб-проект по анализу ставок на киберспортивные матчи</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Веб-проект по анализу ставок на киберспортивные матчи</a></h1>
        </div>

        <div>
            <p>published: 19.07.2019, 19:41</p>
            <h2><a href="/tablepastmatchs/">История недавних матчей</a></h2>
            <p>Вы можете посмотреть историю недавних матчей. С ее помощью можно попытаться предсказать
            текущую форму команды
            </p>
        </div>

        <div>
            <p>published: 19.07.2019, 19:41</p>
            <h2><a href="/currentmatchstable/">Актуальные матчи</a></h2>
            <p>Вы можете посмотреть, какие матчи будут сыграны в ближайшие три дня.
            С помощью нашей уникальной гипотезы мы попытались предсказать на какие команды стоит сделать свою ставку.
            Играйте с умом. УДАЧИ!</p>
        </div>

        <h3><a href="/currentmatchsget/">Создать новый актуальный матч</a></h3>
        <h3><a href="/pastmatchsget/">Создать новый сыгранный матч</a></h3>
        <h3>При создании сайта использованы данные <a href="https://betscsgo.gg">https://betscsgo.gg</a></h3>
    </body>
</html>