<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</head>
<body>
<table class="table table-bordered">
<thead>
<tr>
<th scope="col">Название первой команды</th>
<th scope="col">Сумма денег, поставленных на первую команду</th>
<th scope="col">Счет матча</th>
<th scope="col">Название второй команды</th>
<th scope="col">Сумма денег, поставленных на вторую команду</th>
<th scope="col">Кто выиграл</th>
<th scope="col">Верна ли гипотеза</th>
</tr>
</thead>
{% block page %}
    {% if cesvpastmatchs_lists %}
        {% for element in cesvpast %}
            <tr><td>{{element.Left_team_title}}</td>
            <td>{{element.Moneybet_for_left_team}}</td>
            <td>{{element.Score}}</td>
            <td>{{element.Right_team_title}}</td>
            <td>{{element.Moneybet_for_right_team}}</td>
            <td>{{element.Winning_team_match_result}}</td>
            <td>{{element.Hypothesis}}</td></tr>
        {% endfor %}
        {% for pastmatchlist in cesvpastmatchs_lists %}
            <pastmatchlist>
                <a href="{{ pastmatchlist.get_absolute_url }}">
                    <h2>{{ pastmatchlist.article_title }}</h2>
                </a>
                {{ pastmatchlist.desctription|safe }}
                <p><a class="btn btn-default btn-sm" href="{{ pastmatchlist.get_absolute_url }}">Читать далее</a></p>
            </pastmatchlist>
        {% endfor %}
    {% endif %}
{% load bootstrap3 %}
{% bootstrap_pagination cesvpastmatchs_lists %}
{% endblock %}
</table>
</div>
</body>
</html>